Password Changed
=============

Hello #{@user.name},

Your password was changed successfully.

Your new password is:

#{@new_password}

If you did not request this change, please contact support immediately.
