%h1 Password Changed

%p Hello #{@user.name},

%p Your password was changed successfully.
%p Your new password is:
%pre= @new_password

%p If you did not request this change, please contact support immediately.
