%header.topbar
  .topbar-left
    = link_to 'CUHK Facilities Booking', root_path, class: 'topbar-title'

  .topbar-right
    - if logged_in?
      %span= current_user.name
      = link_to 'Change Password', password_edit_path, class: 'topbar-button topbar-button-mint'
      = button_to 'Log out', logout_path, method: :delete, class: 'topbar-button topbar-button-logout'
