.hero-section
  .container
    .max-w-4xl
      %h1
        Welcome to Venue / Equipment Booking System
      
      %p
        Please log in to continue.
        
      .login-container
        = link_to 'LOG IN', login_path, class: 'login-button'